
@model IEnumerable<WildCrest.Models.WildCrestModels.Profile>

@*<div class="container">*@

<style>
    .hide {
        visibility: hidden;
    }
</style>

<div class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="row" style="margin-bottom:50px;">
                @Html.ActionLink("Go Back", "Index", "WalkInMembers",null, new { @class = "btn btn-success btn-margin" })
                
            </div>
            <div class="table-responsive m-t-40">
                <table id="walkInMemberList" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Actions</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Address</th>
                            <th>Added By</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="hide">@i.ID</td>
                                 <td style="width:20%;">
                                    <a title="Detail" href="@Url.Action("NewDelMemberDetailsByID", "WalkInMembers", new { id = i.ID, editDetail = "New" }, null)">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                    <a title="Approve" href="#" onclick="ApproveUser(@i.ID);">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a title="Deny" onclick="DeleteMemberById(@i.ID);" href="#">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    @*<a title="Turn Walk-In into Permanent User" onclick="ApproveUser(@i.ID);" href="#">
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        </a>*@
                                </td>
                                <td style="width:20%;">@i.F_Name @i.L_Name</td>
                                <td>@i.Email</td>
                                <td style="width:20%;">@i.PhoneNo</td>
                                <td style="width:25%;">@i.Address</td>
                                <td style="width:20%;">@i.AddedBy</td>
                               

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*</div>*@

<script>
    $(document).ready(function () {
        $("#walkInMemberList").dataTable({ "order": [[0, "desc"]] });
    });
    function DeleteWalkInUserById(id) {
        bootbox.confirm("Are you sure to delete this Walk-In-Member?", function (result) {
            if (result) {
                $.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    url: "/WalkInMembers/DeleteWalkInUserById",
                    data: JSON.stringify({id:id}),
                    dataType: "json",
                    success: function (response) {
                        
                            bootbox.confirm("Walk-In-Member Deleted.", function (result) {
                                window.location.href = "/WalkInMembers/ApproveWalkInMembers";
                            });
                            $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                       
                    }
                });
            }
            else {
                bootbox.alert({
                    message: "Not Deleted.",
                    size:"small"
                });
            }
        });
    }

    function ApproveUser(id) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/WalkInMembers/ApproveWalkin",
            data: JSON.stringify({ id: id }),
            dataType: "json",
            success: function (response) {
                bootbox.confirm("Walk-In-Member Approved.", function (result) {
                    window.location.href = "/WalkInMembers/ApproveWalkInMembers";
                });
                $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
            }
        });
    }
</script>