@model WildCrest.Models.WildCrestModels.MembershipPlans

<body class="fix-header card-no-border">

    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12 info_common">
                <div class="card">
                    <div class="card-block">
                        <a href="/MembershipPlans/Index" style="margin-bottom: 20px;" class="btn btn-primary">Go Back</a>
                        <h4 class="card-title">Membership plan Info</h4>
                        <div class="form p-t-20">
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">Plan ID :</label>
                                    <input type="text" id="firstName" readonly value="@Model.ID" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">Plan Name :</label>
                                    <input type="text" id="lastName" readonly value="@Model.PlanName" class="form-control form-control-danger">
                                </div>
                            </div>

                            @*</div>*@

                            @*<div class="row">*@
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">Plan Details : </label>
                                    <input type="text" id="DOB" readonly value="@Model.PlanDetails" class="form-control form-control-danger">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">No. of Stays/Year :</label>
                                    <input type="text" id="Email" readonly value="@Model.NoOfStays" class="form-control form-control-danger">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">Plan Amount :</label>
                                    <input type="text" id="planAmt" readonly value="@Model.PlanAmount" class="form-control form-control-danger">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 form-profile-in">
                                <div class="form-group">
                                    <label class="control-label">Plan Duration :</label>
                                    <input type="text" id="planDuration" readonly value="@Model.MembershipPlanForYear" class="form-control form-control-danger">
                                </div>
                            </div>

                            @*</div>*@
                            <div class="col-md-12 col-sm-12 add_new_member">
                                @if (Request.Cookies["PageSetting"] != null)
                                {
                                    if (Request.Cookies["PageSetting"]["MembershipPlanPermission"] != "View")
                                    {
                                    @Html.ActionLink("Edit", "ViewEditPlanByID", "MembershipPlans", new { id = Model.ID, editDetail = "Edit" }, new { @class = "btn btn-primary btn-margin" })
                                    }
                                }
                                else
                                {
                                    @Html.ActionLink("Edit", "ViewEditPlanByID", "MembershipPlans", new { id = Model.ID, editDetail = "Edit" }, new { @class = "btn btn-primary btn-margin" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
