@model WildCrest.Models.WildCrestModels.Profile

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Update User Detail</h4>
                    <div class="form p-t-20">
                        <div class="form-group">
                            <label style="font-size:large;">Enter First Name :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.F_Name" id="fname" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter Last Name :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.L_Name" id="lname" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter Email :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.Email" id="emailId" class="form-control" />
                                <label id="errorMessage" style="color:red;font-size:12px;display:none;"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter Password :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                <input type="text" value="@Model.Password" id="password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">DOB :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <input type="text" readonly value="@Model.DOB" id="dob" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter Phone No. :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.PhoneNo" id="phone" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Address :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></div>
                                <textarea id="address" class="form-control">@Model.Address</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter City :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.City" id="city" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Enter State :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true" style="width: 20px;font-size:initial"></i></div>
                                <input type="text" value="@Model.State" id="state" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-size:large;">Email Notifications :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email" style="width: 20px;font-size:initial"></i></div>
                                <select id="emlNotify" class="form-control">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>   
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary" onclick="updateUserDetails(@Model.ID);" value="Update" />
                    </div>
                </div>
            </div>
        </div>
 
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#emlNotify").val("@Model.EmailNotifications");
    });

    function updateUserDetails(ID) {
        var eFname = $("#fname").val();
        var eLname = $("#lname").val();
        var eml = $("#emailId").val();
        var pswd = $("#password").val();
        var phone = $("#phone").val();
        var add = $("#address").val();
        var cty = $("#city").val();
        var sta = $("#state").val();
        var emlNotify = $("#emlNotify").val();
        if (eFname != "" && eLname != "" && eml != "" && pswd != "" && phone != "" && add != "" && cty != "" && sta != "" && emlNotify != "") {
            if (!ValidateEmail($("#emailId").val())) {
                $("#errorMessage").empty();
                $("#errorMessage").html("Invalid Email.Please Enter it again...");
                $("#errorMessage").css("display", "block");
            }
            else {
                var prf = {
                    ID: ID,
                    Address: add,
                    Email: eml,
                    PhoneNo: phone,
                    City: cty,
                    State: sta,
                    EmailNotifications: emlNotify,
                    Password: pswd,
                    F_Name: eFname,
                    L_Name: eLname
                };
                $.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    url: "/UserProfile/UpdateProfileByID",
                    data: JSON.stringify({ prf }),
                    dataType: "json",
                    success: function (response) {   
                        bootbox.confirm("User Details Updated.", function (result) {
                            window.location.href = "";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                        //bootbox.alert({
                        //    message: "User Details Updated.",
                        //    size: "small"
                        //});
                        //window.setTimeout(function () {
                        //    window.location.href = "/UserProfile/Index";
                        //}, 4000);
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
        }
        else {
            bootbox.alert({
                message: "All Fields are compulsory.",
                size: "small"
            });
        }
    }
</script>