@model IEnumerable<WildCrest.Models.WildCrestModels.FoodItemType>
<style>
    .plusFoodType {
        color: black;
        font-size: 28px;
        margin-left: 15px;
    }
</style>
<body class="fix-header card-no-border">

    <div id="main-wrapper">
       
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div><span class="complusoryFields" style="margin:15px 20px 0 0;">*(Complusory Fields)</span></div>
                        <div class="card-block">
                            <div style="margin-bottom: 20px;">
                                
                                    <div class="col-md-6 col-sm-12" style="padding:0;text-align: left;float:left;">
                                        <a class="btn btn-primary" href="/MenuItems/Index">Go Back</a>
                                    </div>
                                    <div class="col-md-6 col-sm-12 inventory_select">
                                        <select id="addFromInventory" onchange="addFromInventory();" class="form-control" style="width: auto;">
                                            <option value="0">Select From Inventory</option>
                                            @foreach (var inv in ViewBag.InventoryList)
                                            {
                                                <option value="@inv.ID">@inv.Item_Name (@inv.Type)</option>
                                            }
                                        </select>
                                    </div>
                               
                            </div>
                            <h4 class="card-title">Add New Food Item</h4>
                            <div class="form p-t-20">
                                <div class="form-group">
                                    <label style="font-size: large;">Enter Food Item Name <span class="complusoryFields">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-cutlery" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="FName" class="form-control requiredFields" placeholder="Food Item Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: large;">Enter Details <span class="complusoryFields">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-cutlery" style="width: 20px; font-size: initial"></i></div>
                                        <textarea id="details" class="form-control requiredFields" placeholder="Details"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: large;">Enter Price <span class="complusoryFields">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-sort-numeric-asc" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="Cost" class="form-control floatNo requiredFields" placeholder="Price" />
                                    </div>

                                </div>

                                <div class="form-group" id="foodtypeDIV">
                                    <label style="font-size: large;">Select Type <span class="complusoryFields">*</span></label>
                                    <div class="input-group" id="foodtypeDIV">
                                        <div class="input-group-addon"><i class="fa fa-cutlery" style="width: 20px; font-size: initial"></i></div>
                                        <select id="foodType" class="form-control requiredFields" style="height: 47px;">
                                            @foreach (var i in Model)
                                            {
                                                <option value="@i.FoodItemTypeName">@i.FoodItemTypeName</option>
                                            }

                                            @*<option value="Beverage">Beverage</option>*@
                                        </select>
                                        <a class="plusFoodType" href="#" title="Add New FoodType" onclick="$('#myModal').modal('show');"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                    </div>

                                </div>
                                <div class="form-group" id="foodtypeTextBox" style="display: none;">
                                    <label style="font-size: large;">Type :</label>

                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-cutlery" style="width: 20px; font-size: initial"></i></div>
                                        <input type="text" id="typeTextBox" readonly class="form-control" />
                                    </div>
                                </div>
                                <input type="button" value="Add" onclick="AddNewFoodItem();" class="btn btn-primary" />
                                <a href="/MenuItems/Index" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
      

    </div>
</body>
<div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Add New Food Item Type</h4>
                <button type="button" class="close CloseModalPopUP" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label>Food Item Type Name : </label>
                <input class="form-control" type="text" id="typeName" />
                <div id="errorMsg" style="color: red;"></div>
                <br />
                <button type="button" class="btn btn-primary" onclick="newFoodTypeAdd();">Add</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default CloseModalPopUP" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('input.floatNo').on('input', function () {
            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        });
        
    });

    function addFromInventory(){
        var invValue=$("#addFromInventory").val();
        if(invValue==0){
            $("#FName").val("").removeAttr("readonly");
            $("#details").val("");
            $("#Cost").val("");
            $("#foodtypeTextBox").css("display","none");
            $("#foodtypeDIV").css("display","block");
        }
        else{
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/MenuItems/InventoryDetailsByID",
                data: JSON.stringify({ id:invValue }),
                dataType: "json",
                success: function (response) {
                    $("#FName").val(response.Item_Name).attr("readonly",true);
                    $("#details").val("");
                    $("#Cost").val(response.Price);
                    $("#foodtypeDIV").css("display","none");
                    $("#foodtypeTextBox").css("display","block");
                    $("#typeTextBox").val(response.Type);
                },
                error: function () {
                    //alert('error');
                }
            });
        }
    }

    function AddNewFoodItem() {
        $(".preloader").css("display", "block");
        var FName = $("#FName").val().trim();
        var details = $("#details").val().trim();
        var price = $("#Cost").val();
        var foodType = $("#foodType").val();
        var invValue=$("#addFromInventory").val();
        var foodTypeTB= $("#typeTextBox").val();
        if (FName != "" && details != "" && price != "") {
            if(invValue==0){
                if(foodType!=null){
                    var menu = {
                        Food_Item_Name: FName,
                        Details: details,
                        Price: price,
                        FoodType: foodType,
                        InventoryID:0
                    };
                }
                else{
                    $(".preloader").css("display", "none");
                    bootbox.alert({
                        'message':"FoodType can't be empty. So add it from side plus(+) option, then select.",
                        'size':'medium'
                    });
                    return false;
                }
            }
            else{
                var menu = {
                    Food_Item_Name: FName,
                    Details: details,
                    Price: price,
                    FoodType: foodTypeTB,
                    InventoryID:invValue
                };
            }

           
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/MenuItems/AddNewFoodItem",
                data: JSON.stringify({ menu }),
                dataType: "json",
                success: function (response) {
                    $(".preloader").css("display", "none");
                    if (response == 2) {
                        bootbox.confirm("New Food Item created only after SuperAdmin Approval.", function (result) {
                            window.location.href = "/MenuItems/Index";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }
                    else {
                        bootbox.confirm("New Food Item Added Successfully.", function (result) {
                            window.location.href = "/MenuItems/Index";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }

                },
                error: function () {
                    $(".preloader").css("display", "none");
                    alert('Some error occured.Try again after refresh.');
                }
            });
        }
        else {
            $(".preloader").css("display", "none");
            bootbox.alert({
                message: 'All fields are complusory.',
                size: "medium"
            });
        }
    }

    function newFoodTypeAdd() {
        var typeName = $("#typeName").val().trim();
        if (typeName != "") {
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/MenuItems/AddNewFoodItemType",
                data: JSON.stringify({ typeName: typeName }),
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        $("#foodType").empty();
                        for (var i = 0; i < response.length; i++) {
                            $('#foodType').append($('<option>', {
                                value: response[i].FoodItemTypeName,
                                text: response[i].FoodItemTypeName
                            }));
                        }
                        $("#typeName").val('');
                        $("#errorMsg").empty();
                        $('#myModal').modal('hide');
                    }
                   
                },
                error: function () {
                    //alert('error');
                }
            });
        }
        else {
            $("#errorMsg").empty();
            $("#errorMsg").append("FoodItem Type Name can't be empty.");
        }
    }

    $(".CloseModalPopUP").click(function(){
        $("#typeName").val('');
        $("#errorMsg").empty();
    });
</script>
