<style>
   .loader_gif {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url('/bxSlider/images/bx_loader.gif') 50% 50% no-repeat rgb(249,249,249,0.44);
opacity: .8;
}
</style>
<div class="loader_gif" style="display:none;"></div>
<body class="fix-header card-no-border">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <a href="/MenuItems/Index" class="btn btn-primary">Go Back</a>
                        @Html.ActionLink("Add New Consumable Item", "AddNewConsumableItem", "MenuItems", null, new { @class = "btn btn-primary" })

                        <div id="tableReports" class="table-responsive m-t-40">
                            <table id="itemList" class="display table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        @*<th class="hide">ID</th>*@
                                        <th>Actions</th>
                                        <th>Menu Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.MenuItemsConsumableList != null && ViewBag.MenuItemsConsumableList.Count != 0)
                                    {
                                        foreach (var m in ViewBag.MenuItemsConsumableList)
                                        {
                                        <tr>
                                            @*<td class="hide">@m.ID</td>*@
                                            <td>
                                                <a title="Detail" onclick="DetailsOfConsumableItemByMenuId(@m.ID);"  href="#">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                </a>
                                                <a title="Edit" href="@Url.Action("ConsumableFoodItemEditByID", "MenuItems", new { menuId = m.ID }, null)">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a title="Delete" onclick="DeleteConsumableItemByMenuId(@m.ID);" href="#">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>@m.Food_Item_Name</td>
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td></td>
                                            <td>No Items to Display</td>
                                        </tr>   
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#itemList").dataTable();

        $(".floatNo").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    });

    function DeleteConsumableItemByMenuId(menuId) {
        bootbox.confirm("Are you sure to delete this Food Item Consumable?", function (result) {
            if (result) {
                $.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    url: "/MenuItems/DeleteConsumableItemByMenuId",
                    data: JSON.stringify({ menuId: menuId }),
                    dataType: "json",
                    success: function (response) {
                        bootbox.confirm("Food Item Consumable Deleted.", function (result) {
                            window.location.href = "/MenuItems/ConsumablesItem";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }
                });
            }
            else {
                bootbox.alert({
                    message: "Not Deleted.",
                    size: "small"
                });
            }
        });
    }

    function DetailsOfConsumableItemByMenuId(menuId) {
        $(".loader_gif").css("display", "block");
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/MenuItems/DetailsOfConsumableItemByMenuId", 
            data: JSON.stringify({ menuId: menuId }),
            dataType: "json",
            success: function (response)
            {
               
                    if (response.length > 0) {
                        var totalprice = 0;
                        var tbl = '';
                        tbl += "<table class='display table table-hover table-striped table-bordered'><tr><th>Item Name</th><th>Quantity</th><th>Measurement Unit</th><th>Price</th></tr>";
                        for (var i = 0; i < response.length; i++) {
                            tbl += "<tr><td>" + response[i].Inventory_ItemName + "</td>";
                            tbl += "<td>" + response[i].Quantity + "</td>";
                            tbl += "<td>" + response[i].Measurement + "</td>";
                            tbl += "<td>" + response[i].Price + "</td></tr>";
                            totalprice += parseFloat(response[i].Price);
                        }

                        tbl += "<tr><td>Total Price:</td>";
                        tbl += "<td></td>";
                        tbl += "<td></td>";
                        tbl += "<td>" + totalprice.toFixed(2) + "</td></tr>";
                        tbl += "</table>";
                    }
                    bootbox.alert(tbl);
                    $(".loader_gif").css("display", "none");
               
            },
            error: function (err) {
                $(".loader_gif").css("display", "none");
            }
        });
    }

</script>
