@model WildCrest.Models.WildCrestModels.MenuItems

<body class="fix-header card-no-border">
    <div id="main-wrapper">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <a href="/MenuItems/Index" style="margin-bottom: 20px;" class="btn btn-primary">Go Back</a>
                        <h4 class="card-title">Food Item Details</h4>
                        <div class="form p-t-20">
                            <div class="form-group">
                                <label style="font-size: large;">Food Item Name :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                    <input type="text" readonly value="@Model.Food_Item_Name" id="FName" class="form-control" placeholder="Food Item Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="font-size: large;">Details :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user" style="width: 20px; font-size: initial"></i></div>
                                    <textarea id="details" readonly class="form-control" placeholder="Details">@Model.Details</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="font-size: large;">Price :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-inr" style="width: 20px; font-size: initial"></i></div>
                                    <input type="text" readonly value="@Model.Price" id="Cost" class="form-control floatNo" placeholder="Price" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label style="font-size: large;">Type :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email" style="width: 20px; font-size: initial"></i></div>
                                    <input type="text" readonly value="@Model.FoodType" id="foodType" class="form-control" />
                                </div>

                            </div>
                            @if (Request.Cookies["PageSetting"] != null)
                            {
                                if (Request.Cookies["PageSetting"]["MenuItemsPermission"] != "View")
                                {
                                @Html.ActionLink("Edit", "FoodItemEditByID", "MenuItems", new { id = Model.ID }, new { @class = "btn btn-primary" })
                                }
                            }
                            else
                            {
                                @Html.ActionLink("Edit", "FoodItemEditByID", "MenuItems", new { id = Model.ID }, new { @class = "btn btn-primary" })
                            }
                             <input type="button" value="Consumption" onclick="DetailsOfConsumableItemByMenuId(@Model.ID);" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script>

    function DetailsOfConsumableItemByMenuId(menuId) {
        debugger;
        var ID=menuId;
        $(".loader_gif").css("display", "block");
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/MenuItems/DetailsOfConsumableItemByMenuId",
            data: JSON.stringify({ menuId: menuId }),
            dataType: "json",
            success: function (response) {
               
                if (response.length > 0) {
                    var totalprice = 0;
                    var tbl = '';
                    tbl += "<table class='display table table-hover table-striped table-bordered'><tr><th>Item Name</th><th>Quantity</th><th>Measurement Unit</th><th>Price</th></tr>";
                    for (var i = 0; i < response.length; i++) {
                        tbl += "<tr><td>" + response[i].Inventory_ItemName + "</td>";
                        tbl += "<td>" + response[i].Quantity + "</td>";
                        tbl += "<td>" + response[i].Measurement + "</td>";
                        tbl += "<td>" + response[i].Price + "</td></tr>";
                        totalprice += parseFloat(response[i].Price);
                    }

                    tbl += "<tr><td>Total Price:</td>";
                    tbl += "<td></td>";
                    tbl += "<td></td>";
                    tbl += "<td>" + totalprice.toFixed(2) + "</td></tr>";
                    tbl += "<tr><td><a href='/MenuItems/ConsumableFoodItemEditByID?menuId="+ID+"' class='btn btn-link'>Edit</a></td>";
                    tbl += "<td></td>";
                    tbl += "<td></td>";
                    tbl += "<td></td></tr>";
                    tbl += "</table>";
                    bootbox.alert(tbl);
                }else{

                    bootbox.alert("Consumables Not Added <a href='/MenuItems/AddNewConsumableItem?menuId="+ID+"' class='btn btn-link'>Add Now</a>");
                }
               
                $(".loader_gif").css("display", "none");

            },
            error: function (err) {
                $(".loader_gif").css("display", "none");
            }
        });
    }
</script>
