
@model IEnumerable<WildCrest.Models.WildCrestModels.ViewOrders>

<style>
    .hide {
        visibility: hidden;
    }
</style>

<div class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="row" style="margin-bottom:50px;">
                @Html.ActionLink("Go Back", "Index", "Vendors", new { @class = "btn btn-success btn-margin" })
            </div>
            <div class="table-responsive m-t-40">
                <table id="productOrderedList" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Vendor Name</th>
                            <th>Contact No.</th>
                            <th>Product Ordered</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="hide">@i.VendorOrderID</td>
                                <td>@i.Vendor_Full_Name</td>
                                <td>@i.Contact_No</td>
                                <td>@i.Product_Name</td>
                                <td>@i.Quantity</td>
                                <td>@i.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#productOrderedList").dataTable({ "order": [[0, "desc"]] });
    });
    
</script>