
@model IEnumerable<WildCrest.Models.WildCrestModels.MenuItems>

<style>
    .hide {
        visibility: hidden;
    }
</style>


    <div class="card">
        <div class="card-block">
            <div class="row">
                @Html.ActionLink("Go Back", "MenuItems", "Bar",null, new { @class = "btn btn-success btn-margin" })

            </div>
            <div class="table-responsive m-t-40">
                <table id="foodItemList" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Actions</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Price</th>
                            <th>Type</th>
                            <th>Deleted By</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="hide">@i.ID</td>
                                <td style="width:20%;">
                                    <a title="Detail" href="@Url.Action("NewDelItemEditByID", "Bar", new { id = i.ID }, null)">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                    <a title="Delete" onclick="DeleteItemById(@i.ID);" href="#">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <a title="Again Store in DB" onclick="CancelDeleteItemById(@i.ID);" href="#">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="width:20%;">@i.Food_Item_Name</td>
                                <td style="width:30%;">@i.Details</td>
                                <td>₹ @i.Price</td>
                                <td>@i.FoodType</td>
                                <td>@i.DeletedBy</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script>
    $(document).ready(function () {
        $("#foodItemList").dataTable({ "order": [[0, "desc"]] });
    });
    function DeleteItemById(id) {
        bootbox.confirm("Are you sure to delete this Item?", function (result) {
            if (result) {
                $.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    url: "/Bar/DeleteItemById",
                    data: JSON.stringify({ id: id }),
                    dataType: "json",
                    success: function (response) {
                        bootbox.confirm("Item Deleted.", function (result) {
                            window.location.href = "/Bar/DeleteItemBySuperAdminApproval";
                        });
                        $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
                    }
                });
            }
            else {
                bootbox.alert({
                    message: "You pressed cancel.",
                    size: "small"
                });
            }
        });
    }

    function CancelDeleteItemById(id) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Bar/CancelDeleteItemById",
            data: JSON.stringify({ id: id }),
            dataType: "json",
            success: function (response) {
                bootbox.confirm("Food Item not Deleted. Again its stored in Database.", function (result) {
                    window.location.href = "/Bar/DeleteItemBySuperAdminApproval";
                });
                $(".modal-dialog .modal-content .modal-footer .btn-default").hide();
            }
        });
    }
</script>